# /etc/systemd/system/localticker.service
[Unit]
Description=Quick app for USD->BTC->VEF
After=network.target
Requires=network.target

[Service]
WorkingDirectory=/srv/app/localticker
ExecStart=/srv/app/.local/bin/gunicorn main:app
Restart=on-failure
User=app
UMask=0027

[Install]
WantedBy=multi-user.target

